@font-face {
  font-family: 'Roboto';
  src: url('../../police/Roboto/Roboto-Regular.ttf');
}

body,
html {
  margin: 0;
}
@mixin typography($font-size: 20px) {
  font-family: 'Roboto', serif;
  font-size: $font-size;
}

@mixin container() {
  padding: 40px;
}
header {
  padding: 20px 0 20px 0;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  z-index: 1;
  position: relative;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
  }
}

#position {
  @include typography;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  position: relative;
  p {
    margin-left: 15px;
  }
}

#hero {
  @include typography;
  @include container;
  text-align: center;
  background-color: #fafafa;
  button {
    @include typography;
    border-radius: 100px;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    background-image: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
    border: none;
    color: white;
    margin-top: 20px;
    padding: 20px;
  }
}

#fonctionnement {
  @include typography;
  @include container;
  h1 {
    padding-left: 20px;
  }
  ol {
    display: flex;
    list-style: none;
    @media only screen and (max-width: 1250px) {
      flex-direction: column;
    }
  }
  li::before {
    content: counter(li);
    background: #9356dc;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -10px;
  }
  li {
    margin-right: 30px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 20px;
    background-color: #f6f6f6;
    padding: 20px;
    counter-increment: li;
    position: relative;
    flex: 1;
    margin-bottom: 20px;
  }
  li:hover {
    background-color: #f5edff;
  }
  .fas {
    margin-right: 20px;
    margin-left: 20px;
    color: #7e7e7e;
  }
}

#restaurants {
  @include typography;
  @include container;
  background-color: #f6f6f6;

  position: relative;h1 {
    padding-left: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 50px;
    padding-right: 50px;
  }

  .card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    box-shadow: 3px 3px 10px 5px rgb(230 227 227 / 81%);

    img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }

    .card__badge {
      background-color: #99e2d0;
      color: #1b6150;
      padding: .5rem;
      border-radius: .125rem;
      position: absolute;
      top: 1rem;
      right: .75rem;
    }
    .card__footer {
      position: relative;
      border-radius: 1rem;
      background-color: white;
      padding-left: 10px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .card__right {
      position: relative;
      margin-right: 10px;
    }
    .card__title {
      position: relative;
      margin: 5px 0 5px;
    }
    .card__subtitle {
      margin: 0;
    }
  }
}

#footer {
  padding-top: 20px;
  padding-left: 30px;
  background-color: #353535;
  img {
    background-color: white;
    height: 30px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  i {
    margin-right: 10px;
  }
}

.heart-icon {
  position: relative;
  padding: 2rem;
}

.heart::before {
  content: "\f004";
  font-weight: 300;
  position:relative;
  display: block;
  font-size: 22px;
  color: #666;
}

.heart::after {
  content: "\f004";
  font-weight: 900;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 22px;
  opacity: 0;
  transition: .3s ease-out;
  background-image: -moz-linear-gradient(to bottom, #FF79DA, #9356DC);
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover::after {
  opacity: 1;
}

.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.hero-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.container-menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: absolute;
  width: 90%;
  margin-left: 5%;
  padding: 0 1rem;
}

.nav-title-menu {
  //padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parent {
  width: 100%;
  height: 100%;
  z-index: 998;
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  opacity: 1;
  -webkit-animation: parentAnimation 5s linear forwards;
  animation: parentAnimation 5s linear forwards;

  .loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #FF79DA;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    -webkit-animation: spin 2s linear forwards;
    animation: spin 2s linear forwards;
    opacity: 1;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); opacity: 0;}
  }

  @-webkit-keyframes parentAnimation {
    100% {  opacity: 0; z-index: 0;}
  }

  @keyframes parentAnimation {
    100% {  opacity: 0; z-index: 0;}
  }
}

.menu__heart {
  position: relative;
}

.menu-restaurant {

}

