@font-face {
  font-family: 'Roboto';
  src: url('../../police/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Shrikhand';
  src: url('../../police/Shrikhand-Regular.ttf');
}

body,
html {
  margin: 0;
  font-family: Roboto,sans-serif;
}
@mixin typography($font-size: 20px) {
  font-family: 'Roboto', serif;
  font-size: $font-size;
}

@mixin container() {
  padding: 40px;
}
header {
  padding: 20px 0 20px 0;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  z-index: 1;
  position: relative;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
  }
}

#position {
  @include typography;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  position: relative;
  p {
    margin-left: 15px;
  }
}

button {
  @include typography;
  border-radius: 100px;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  background-image: linear-gradient(
                  0deg,
                  rgba(147, 86, 220, 0.9),
                  rgba(255, 121, 218, 0.9)
  );
  border: none;
  color: white;
  margin-top: 20px;
  padding: 20px;
}

#hero {
  @include typography;
  @include container;
  text-align: center;
  background-color: #fafafa;
}

#fonctionnement {
  @include typography;
  @include container;
  h1 {
    padding-left: 20px;
  }
  ol {
    display: flex;
    list-style: none;
    @media only screen and (max-width: 1250px) {
      flex-direction: column;
    }
  }
  li::before {
    content: counter(li);
    background: #9356dc;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -10px;
  }
  li {
    margin-right: 30px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 20px;
    background-color: #f6f6f6;
    padding: 20px;
    counter-increment: li;
    position: relative;
    flex: 1;
    margin-bottom: 20px;
  }
  li:hover {
    background-color: #f5edff;
  }
  .fas {
    margin-right: 20px;
    margin-left: 20px;
    color: #7e7e7e;
  }
}

#restaurants {
  @include typography;
  @include container;
  background-color: #f6f6f6;

  position: relative;h1 {
    padding-left: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    box-shadow: 3px 3px 10px 5px rgb(230 227 227 / 81%);

    img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }

    &__badge {
      background-color: #99e2d0;
      color: #1b6150;
      padding: .5rem;
      border-radius: .125rem;
      position: absolute;
      top: 1rem;
      right: .75rem;
    }
    &__footer {
      position: relative;
      border-radius: 1rem;
      background-color: white;
      padding-left: 10px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__right {
      position: relative;
      margin-right: 10px;
    }
    &__title {
      position: relative;
      margin: 5px 0 5px;
    }
    &__subtitle {
      margin: 0;
    }
  }
}

#footer {
  padding-top: 20px;
  padding-left: 30px;
  background-color: #353535;
  img {
    background-color: white;
    height: 30px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  i {
    margin-right: 10px;
  }
}

.heart-icon {
  position: relative;
  padding: 2rem;
}

.heart::before {
  content: "\f004";
  font-weight: 300;
  position:relative;
  display: block;
  font-size: 22px;
  color: #666;
}

.heart::after {
  content: "\f004";
  font-weight: 900;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 22px;
  opacity: 0;
  transition: .3s ease-out;
  background-image: -moz-linear-gradient(to bottom, #FF79DA, #9356DC);
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover::after {
  opacity: 1;
}

.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.hero-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.container-menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-title-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parent {
  width: 100%;
  height: 100%;
  z-index: 998;
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  opacity: 1;
  -webkit-animation: parentAnimation 3s linear forwards;
  animation: parentAnimation 3s linear forwards;

  .loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #FF79DA;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    -webkit-animation: spin 3s linear forwards;
    animation: spin 3s linear forwards;
    opacity: 1;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); opacity: 0;}
  }

  @-webkit-keyframes parentAnimation {
    100% {  opacity: 0; z-index: 0;}
  }

  @keyframes parentAnimation {
    100% {  opacity: 0; z-index: 0;}
  }
}

.menu__heart {
  position: relative;
}

.nav-title {
  font-size:1.5em;
}

.menu-restaurant {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.menu {
  position: relative;
  padding-bottom: .5rem;

  .menu_title {
    font-size: 1.17em;
    position: relative;
    padding-bottom: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      width: 3rem;
      height: 0.25rem;
      background-color: #99e2d0;
      left: 0;
      bottom: 0;
    }
  }
}

.menu-item {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: .75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.5s;
  animation-fill-mode: both;
  max-width: 100%;
  transform: scale(0);

  &-left {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    .description-text {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .animation-hidden {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  .animation-wrap-icon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
  }

  &:hover .animation-wrap-icon {
    transform: rotate(0);
  }

  &:hover .animation-hidden {
    margin-right: -1rem;
    background-color: #99e2d0;
  }
}

.color-icon {
  color: #99e2d0;
}

@-webkit-keyframes itemAppear {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes itemAppear {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.btn-center {
  display: flex;
  text-decoration: none;
  justify-content: center;
}

footer {
  display: block;
}

.logo-txt {
  color: #fff;
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.Shrikhand-txt {
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
}